.footer {
	padding: 15px 10%;
}

#first-section-footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	font-size: 1.2rem;
	margin-top: 75px;
}

.list-footer {
	width: 25%;
}

.fish-section {
	width: 50%;
}

.fish-icon {
	width: 100px;
}

.footer .q-item {
	padding: 0;
}