.character {
	width: 26%;
	border-radius: 50px;
	overflow: hidden;
	cursor: pointer;
	margin: 30px 0;
}

.character-section-image {
	padding: 20px;
}

.character-image {
	max-height: 250px;
}

.character-name > span {
	font-size: 1.5em;
}

@media (max-width: 1200px) {
	.character {
		width: 45%;
	}
}

@media (max-width: 600px) {
	.character {
		width: 80%;
	}
}