.villager {
	width: 17%;
	border-radius: 50px;
	cursor: pointer;
	margin: 50px 0;
}

.villager-section-image {
	padding: 5px 15px;
	height: 100px;
}

.villager-image {
	max-height: 150px;
	position: relative;
	top: -50px;
}

.villager-name > span {
	font-size: 1.5em;
}

@media (max-width: 1200px) {
	.villager {
		width: 45%;
	}
}

@media (max-width: 600px) {
	.villager {
		width: 80%;
	}
}