#section-filters {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	max-width: 75%;
	margin: 0 auto;
}

.listing-bulle-header {
	max-width: 75%;
	margin: 15px auto;
	padding: 0 8%;
}

.listing-bulle-header p {
	margin-top:15px;
}

#section-filters > .field {
	width: 30%;
}

@media (max-width: 750px) {
	#section-filters > .field {
		width: 45%;
	}
}

@media (max-width: 550px) {
	#section-filters > .field {
		width: 80%;
	}
}

.list li {
	width: fit-content;
	margin: 0 auto;
}

#section-list {
	padding-top: 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	width: 80%;
	margin:0 auto;
}